

.menu {
	position: sticky;
	opacity: 100%;
	top: 0px;
	text-align: center;
	padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f2cf33;
    
}
    
.center {
    margin: auto;
    text-align:center;
    display:block;
    padding: 20px;
  }

  .right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  .paragraph{
      font-size:large;
      text-align: justify;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      padding: 0px 40px 0px 40px;
    }

  .caption{
      font-size:medium;
      text-align:center;
  }