*{
    background-color: white;

}

.menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    text-align: center;
    
}
.center {
    text-align:center;
    display:block;
  }

  .paragraph{
      font-size: medium;
  }